.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    padding: 47px;
    box-shadow: 0 3px 10px #aaa;
    margin-top: 17px;
    display: inline-block;
}
.input{
    padding: 8px;
}
.label{
    margin: 8px;
}
.in{
    border: 1px solid black;
}
.button{
    display: flex;
    justify-content: space-between;
}
.input{
    border: 1px solid black;
}
.buttonstyle{
    border: 1px solid black;
    padding: 9px;
    margin-top: 12px;
}